In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Person 3/drowsy_P3.csv')
df.head()

    ear   mar
0  0.29  0.53
1  0.31  0.53
2  0.30  0.34
3  0.31  0.32
4  0.27  0.35

In [3]:
df.iloc[:,1:].values

array([[0.53],
       [0.53],
       [0.34],
       ...,
       [0.41],
       [0.41],
       [0.41]])

In [4]:
import math
ear=df.iloc[:,0:1].values
mar = df.iloc[:,1:].values
len(ear), len(mar)

(3117, 3117)

In [5]:
n = math.ceil(len(ear)/10)
n

312

In [6]:
ear_a = np.array_split(ear, n)
mar_a = np.array_split(mar, n)

In [7]:
ear_c = []
for i in ear_a:
    ear_i = np.amin(i)
    ear_c.append(ear_i)
    
print(ear_c)
len(ear_c)

[0.13, 0.15, 0.15, 0.28, 0.15, 0.27, 0.13, 0.26, 0.18, 0.15, 0.23, 0.19, 0.18, 0.21, 0.14, 0.11, 0.23, 0.24, 0.24, 0.15, 0.27, 0.24, 0.16, 0.24, 0.15, 0.12, 0.15, 0.13, 0.26, 0.28, 0.24, 0.24, 0.23, 0.15, 0.26, 0.25, 0.24, 0.22, 0.15, 0.16, 0.2, 0.18, 0.26, 0.24, 0.17, 0.27, 0.26, 0.25, 0.26, 0.24, 0.23, 0.14, 0.2, 0.24, 0.21, 0.1, 0.15, 0.18, 0.15, 0.13, 0.16, 0.26, 0.28, 0.26, 0.26, 0.25, 0.22, 0.12, 0.12, 0.19, 0.23, 0.26, 0.26, 0.27, 0.25, 0.23, 0.18, 0.21, 0.18, 0.27, 0.25, 0.21, 0.19, 0.25, 0.28, 0.17, 0.16, 0.19, 0.35, 0.34, 0.32, 0.23, 0.33, 0.21, 0.2, 0.18, 0.17, 0.19, 0.22, 0.18, 0.17, 0.19, 0.29, 0.18, 0.21, 0.34, 0.32, 0.31, 0.32, 0.33, 0.33, 0.22, 0.33, 0.32, 0.34, 0.32, 0.3, 0.28, 0.21, 0.32, 0.31, 0.3, 0.31, 0.24, 0.22, 0.19, 0.19, 0.19, 0.2, 0.32, 0.31, 0.29, 0.3, 0.27, 0.21, 0.21, 0.2, 0.2, 0.23, 0.3, 0.3, 0.3, 0.3, 0.29, 0.3, 0.31, 0.29, 0.28, 0.21, 0.18, 0.29, 0.29, 0.2, 0.19, 0.33, 0.34, 0.35, 0.35, 0.33, 0.22, 0.21, 0.33, 0.19, 0.33, 0.35, 0.34, 0.22, 0.18, 0.34, 0.33, 0.28, 0.31, 0.26, 0.26, 0.19, 0.19, 0.21, 0.25, 0.25, 0.21, 0.16, 0.24, 0.16, 0.32, 0.19, 0.32, 0.21, 0.33, 0.34, 0.33, 0.31, 0.3, 0.26, 0.22, 0.22, 0.22, 0.19, 0.19, 0.18, 0.2, 0.26, 0.2, 0.32, 0.3, 0.3, 0.3, 0.29, 0.22, 0.32, 0.31, 0.31, 0.2, 0.2, 0.19, 0.21, 0.19, 0.31, 0.32, 0.33, 0.3, 0.21, 0.3, 0.28, 0.21, 0.19, 0.21, 0.2, 0.19, 0.3, 0.32, 0.23, 0.33, 0.32, 0.23, 0.2, 0.3, 0.29, 0.22, 0.21, 0.23, 0.32, 0.31, 0.3, 0.25, 0.19, 0.2, 0.19, 0.2, 0.32, 0.33, 0.29, 0.21, 0.19, 0.15, 0.2, 0.21, 0.32, 0.22, 0.22, 0.32, 0.29, 0.29, 0.22, 0.19, 0.33, 0.33, 0.32, 0.21, 0.31, 0.32, 0.3, 0.27, 0.2, 0.19, 0.17, 0.16, 0.28, 0.24, 0.17, 0.16, 0.18, 0.19, 0.19, 0.23, 0.3, 0.31, 0.31, 0.31, 0.22, 0.29, 0.32, 0.29, 0.2, 0.31, 0.31, 0.31, 0.22, 0.3, 0.3, 0.32, 0.19, 0.33, 0.2, 0.2, 0.21, 0.35, 0.37, 0.24, 0.25, 0.35, 0.21, 0.34]

312

In [8]:
mar_c = []
for i in mar_a:
    mar_i = np.amax(i)
    mar_c.append(mar_i)
    
print(mar_c)
len(mar_c)

[0.53, 0.6, 0.45, 0.44, 0.44, 0.47, 0.44, 0.45, 0.44, 0.45, 0.45, 0.47, 0.44, 0.45, 0.46, 0.44, 0.45, 0.43, 0.44, 0.44, 0.58, 0.48, 0.43, 0.44, 0.43, 0.43, 0.42, 0.59, 0.53, 0.51, 0.48, 0.49, 0.49, 0.49, 0.52, 0.42, 0.41, 0.43, 0.42, 0.42, 0.43, 0.55, 0.39, 0.39, 0.4, 0.41, 0.43, 0.44, 0.47, 0.43, 0.44, 0.44, 0.43, 0.43, 0.41, 0.42, 0.42, 0.41, 0.41, 0.39, 0.63, 0.51, 0.42, 0.44, 0.44, 0.43, 0.45, 0.43, 0.44, 0.59, 0.57, 0.43, 0.42, 0.42, 0.41, 0.42, 0.43, 0.49, 0.44, 0.51, 0.48, 0.4, 0.4, 0.41, 0.48, 0.45, 0.6, 0.58, 0.43, 0.44, 0.44, 0.44, 0.44, 0.42, 0.41, 0.4, 0.58, 0.53, 0.56, 0.56, 0.54, 0.59, 0.78, 0.55, 0.5, 0.41, 0.42, 0.42, 0.42, 0.42, 0.42, 0.42, 0.42, 0.41, 0.4, 0.43, 0.43, 0.43, 0.45, 0.54, 0.43, 0.44, 0.46, 0.45, 0.46, 0.46, 0.45, 0.47, 0.55, 0.44, 0.45, 0.47, 0.46, 0.45, 0.46, 0.45, 0.44, 0.46, 0.46, 0.47, 0.46, 0.49, 0.46, 0.46, 0.47, 0.46, 0.49, 0.45, 0.45, 0.49, 0.58, 0.48, 0.61, 0.43, 0.43, 0.44, 0.44, 0.44, 0.43, 0.41, 0.47, 0.47, 0.46, 0.73, 0.85, 0.89, 0.79, 0.56, 0.44, 0.47, 0.47, 0.47, 0.45, 0.44, 0.42, 0.44, 0.56, 0.56, 0.47, 0.49, 0.58, 0.59, 0.49, 0.44, 0.45, 0.45, 0.45, 0.44, 0.44, 0.45, 0.44, 0.42, 0.43, 0.42, 0.42, 0.4, 0.46, 0.45, 0.48, 0.45, 0.45, 0.43, 0.45, 0.45, 0.45, 0.44, 0.44, 0.43, 0.43, 0.42, 0.43, 0.44, 0.46, 0.44, 0.63, 0.47, 0.48, 0.46, 0.46, 0.43, 0.45, 0.46, 0.48, 0.49, 0.5, 0.49, 0.5, 0.49, 0.46, 0.44, 0.49, 0.48, 0.48, 0.47, 0.47, 0.46, 0.47, 0.46, 0.46, 0.45, 0.41, 0.43, 0.42, 0.42, 0.4, 0.41, 0.48, 0.56, 0.56, 0.52, 0.53, 0.54, 0.53, 0.57, 0.56, 0.45, 0.41, 0.43, 0.44, 0.43, 0.41, 0.42, 0.42, 0.43, 0.42, 0.41, 0.41, 0.45, 0.47, 0.48, 0.47, 0.47, 0.48, 0.48, 0.48, 0.47, 0.48, 0.47, 0.48, 0.48, 0.47, 0.46, 0.48, 0.59, 0.47, 0.41, 0.41, 0.41, 0.43, 0.44, 0.49, 0.5, 0.46, 0.4, 0.42, 0.41, 0.39, 0.4, 0.39, 0.4, 0.4, 0.4, 0.4, 0.5, 0.58, 0.5, 0.47, 0.53, 0.4, 0.38, 0.4, 0.42]

312

In [9]:
type(mar_c)

list

In [10]:
dc = pd.DataFrame(
    {'ear': ear_c,
     'mar': mar_c,
    })

In [11]:
dc.head()

    ear   mar
0  0.13  0.53
1  0.15  0.60
2  0.15  0.45
3  0.28  0.44
4  0.15  0.44

In [12]:
dc.shape

(312, 2)

In [13]:
dc.to_csv('Person 3/drowsy_cleaned_P3.csv', index=False)

## Second Phase

In [14]:
df =dc

In [15]:
df.iloc[:,1:].values

array([[0.53],
       [0.6 ],
       [0.45],
       [0.44],
       [0.44],
       [0.47],
       [0.44],
       [0.45],
       [0.44],
       [0.45],
       [0.45],
       [0.47],
       [0.44],
       [0.45],
       [0.46],
       [0.44],
       [0.45],
       [0.43],
       [0.44],
       [0.44],
       [0.58],
       [0.48],
       [0.43],
       [0.44],
       [0.43],
       [0.43],
       [0.42],
       [0.59],
       [0.53],
       [0.51],
       [0.48],
       [0.49],
       [0.49],
       [0.49],
       [0.52],
       [0.42],
       [0.41],
       [0.43],
       [0.42],
       [0.42],
       [0.43],
       [0.55],
       [0.39],
       [0.39],
       [0.4 ],
       [0.41],
       [0.43],
       [0.44],
       [0.47],
       [0.43],
       [0.44],
       [0.44],
       [0.43],
       [0.43],
       [0.41],
       [0.42],
       [0.42],
       [0.41],
       [0.41],
       [0.39],
       [0.63],
       [0.51],
       [0.42],
       [0.44],
       [0.44],
       [0.43],
       [0.45],
       [0.43],
       [0.44],
       [0.59],
       [0.57],
       [0.43],
       [0.42],
       [0.42],
       [0.41],
       [0.42],
       [0.43],
       [0.49],
       [0.44],
       [0.51],
       [0.48],
       [0.4 ],
       [0.4 ],
       [0.41],
       [0.48],
       [0.45],
       [0.6 ],
       [0.58],
       [0.43],
       [0.44],
       [0.44],
       [0.44],
       [0.44],
       [0.42],
       [0.41],
       [0.4 ],
       [0.58],
       [0.53],
       [0.56],
       [0.56],
       [0.54],
       [0.59],
       [0.78],
       [0.55],
       [0.5 ],
       [0.41],
       [0.42],
       [0.42],
       [0.42],
       [0.42],
       [0.42],
       [0.42],
       [0.42],
       [0.41],
       [0.4 ],
       [0.43],
       [0.43],
       [0.43],
       [0.45],
       [0.54],
       [0.43],
       [0.44],
       [0.46],
       [0.45],
       [0.46],
       [0.46],
       [0.45],
       [0.47],
       [0.55],
       [0.44],
       [0.45],
       [0.47],
       [0.46],
       [0.45],
       [0.46],
       [0.45],
       [0.44],
       [0.46],
       [0.46],
       [0.47],
       [0.46],
       [0.49],
       [0.46],
       [0.46],
       [0.47],
       [0.46],
       [0.49],
       [0.45],
       [0.45],
       [0.49],
       [0.58],
       [0.48],
       [0.61],
       [0.43],
       [0.43],
       [0.44],
       [0.44],
       [0.44],
       [0.43],
       [0.41],
       [0.47],
       [0.47],
       [0.46],
       [0.73],
       [0.85],
       [0.89],
       [0.79],
       [0.56],
       [0.44],
       [0.47],
       [0.47],
       [0.47],
       [0.45],
       [0.44],
       [0.42],
       [0.44],
       [0.56],
       [0.56],
       [0.47],
       [0.49],
       [0.58],
       [0.59],
       [0.49],
       [0.44],
       [0.45],
       [0.45],
       [0.45],
       [0.44],
       [0.44],
       [0.45],
       [0.44],
       [0.42],
       [0.43],
       [0.42],
       [0.42],
       [0.4 ],
       [0.46],
       [0.45],
       [0.48],
       [0.45],
       [0.45],
       [0.43],
       [0.45],
       [0.45],
       [0.45],
       [0.44],
       [0.44],
       [0.43],
       [0.43],
       [0.42],
       [0.43],
       [0.44],
       [0.46],
       [0.44],
       [0.63],
       [0.47],
       [0.48],
       [0.46],
       [0.46],
       [0.43],
       [0.45],
       [0.46],
       [0.48],
       [0.49],
       [0.5 ],
       [0.49],
       [0.5 ],
       [0.49],
       [0.46],
       [0.44],
       [0.49],
       [0.48],
       [0.48],
       [0.47],
       [0.47],
       [0.46],
       [0.47],
       [0.46],
       [0.46],
       [0.45],
       [0.41],
       [0.43],
       [0.42],
       [0.42],
       [0.4 ],
       [0.41],
       [0.48],
       [0.56],
       [0.56],
       [0.52],
       [0.53],
       [0.54],
       [0.53],
       [0.57],
       [0.56],
       [0.45],
       [0.41],
       [0.43],
       [0.44],
       [0.43],
       [0.41],
       [0.42],
       [0.42],
       [0.43],
       [0.42],
       [0.41],
       [0.41],
       [0.45],
       [0.47],
       [0.48],
       [0.47],
       [0.47],
       [0.48],
       [0.48],
       [0.48],
       [0.47],
       [0.48],
       [0.47],
       [0.48],
       [0.48],
       [0.47],
       [0.46],
       [0.48],
       [0.59],
       [0.47],
       [0.41],
       [0.41],
       [0.41],
       [0.43],
       [0.44],
       [0.49],
       [0.5 ],
       [0.46],
       [0.4 ],
       [0.42],
       [0.41],
       [0.39],
       [0.4 ],
       [0.39],
       [0.4 ],
       [0.4 ],
       [0.4 ],
       [0.4 ],
       [0.5 ],
       [0.58],
       [0.5 ],
       [0.47],
       [0.53],
       [0.4 ],
       [0.38],
       [0.4 ],
       [0.42]])

In [16]:
import math
ear=df.iloc[:,0:1].values
mar = df.iloc[:,1:].values
len(ear), len(mar)

(312, 312)

In [17]:
n = math.ceil(len(ear)/2)
n

156

In [18]:
ear_a = np.array_split(ear, n)
mar_a = np.array_split(mar, n)

In [19]:
ear_c = []
for i in ear_a:
    ear_i = np.amin(i)
    ear_c.append(ear_i)
    
print(ear_c)
len(ear_c)

[0.13, 0.15, 0.15, 0.13, 0.15, 0.19, 0.18, 0.11, 0.23, 0.15, 0.24, 0.16, 0.12, 0.13, 0.26, 0.24, 0.15, 0.25, 0.22, 0.15, 0.18, 0.24, 0.17, 0.25, 0.24, 0.14, 0.2, 0.1, 0.15, 0.13, 0.16, 0.26, 0.25, 0.12, 0.12, 0.23, 0.26, 0.23, 0.18, 0.18, 0.21, 0.19, 0.17, 0.16, 0.34, 0.23, 0.21, 0.18, 0.17, 0.18, 0.17, 0.18, 0.21, 0.31, 0.32, 0.22, 0.32, 0.32, 0.28, 0.21, 0.3, 0.24, 0.19, 0.19, 0.2, 0.29, 0.27, 0.21, 0.2, 0.23, 0.3, 0.29, 0.3, 0.28, 0.18, 0.29, 0.19, 0.33, 0.35, 0.22, 0.21, 0.19, 0.34, 0.18, 0.33, 0.28, 0.26, 0.19, 0.21, 0.21, 0.16, 0.16, 0.19, 0.21, 0.33, 0.3, 0.22, 0.22, 0.19, 0.18, 0.2, 0.3, 0.3, 0.22, 0.31, 0.2, 0.19, 0.19, 0.31, 0.3, 0.21, 0.21, 0.19, 0.19, 0.3, 0.23, 0.23, 0.2, 0.22, 0.21, 0.31, 0.25, 0.19, 0.19, 0.32, 0.21, 0.15, 0.2, 0.22, 0.22, 0.29, 0.19, 0.33, 0.21, 0.31, 0.27, 0.19, 0.16, 0.24, 0.16, 0.18, 0.19, 0.3, 0.31, 0.22, 0.29, 0.2, 0.31, 0.22, 0.3, 0.19, 0.2, 0.21, 0.24, 0.25, 0.21]

156

In [20]:
mar_c = []
for i in mar_a:
    mar_i = np.amax(i)
    mar_c.append(mar_i)
    
print(mar_c)
len(mar_c)

[0.6, 0.45, 0.47, 0.45, 0.45, 0.47, 0.45, 0.46, 0.45, 0.44, 0.58, 0.44, 0.43, 0.59, 0.53, 0.49, 0.49, 0.52, 0.43, 0.42, 0.55, 0.39, 0.41, 0.44, 0.47, 0.44, 0.43, 0.42, 0.42, 0.41, 0.63, 0.44, 0.44, 0.45, 0.59, 0.57, 0.42, 0.42, 0.49, 0.51, 0.48, 0.41, 0.48, 0.6, 0.44, 0.44, 0.44, 0.41, 0.58, 0.56, 0.59, 0.78, 0.5, 0.42, 0.42, 0.42, 0.42, 0.43, 0.43, 0.54, 0.44, 0.46, 0.46, 0.47, 0.55, 0.47, 0.46, 0.46, 0.46, 0.47, 0.49, 0.46, 0.47, 0.49, 0.49, 0.58, 0.61, 0.44, 0.44, 0.43, 0.47, 0.73, 0.89, 0.79, 0.47, 0.47, 0.45, 0.44, 0.56, 0.49, 0.59, 0.49, 0.45, 0.45, 0.45, 0.44, 0.43, 0.42, 0.46, 0.48, 0.45, 0.45, 0.45, 0.44, 0.43, 0.44, 0.46, 0.63, 0.48, 0.46, 0.46, 0.49, 0.5, 0.5, 0.46, 0.49, 0.48, 0.47, 0.47, 0.46, 0.43, 0.42, 0.41, 0.56, 0.56, 0.54, 0.57, 0.56, 0.43, 0.44, 0.42, 0.43, 0.42, 0.45, 0.48, 0.47, 0.48, 0.48, 0.48, 0.48, 0.47, 0.59, 0.47, 0.41, 0.44, 0.5, 0.46, 0.42, 0.4, 0.4, 0.4, 0.5, 0.58, 0.53, 0.4, 0.42]

156

In [21]:
type(mar_c)

list

In [22]:
dc = pd.DataFrame(
    {'ear': ear_c,
     'mar': mar_c,
    })

In [23]:
dc.head()

    ear   mar
0  0.13  0.60
1  0.15  0.45
2  0.15  0.47
3  0.13  0.45
4  0.15  0.45

In [24]:
dc.shape

(156, 2)

In [25]:
dc.to_csv('Person 3/drowsy_cleaned_P3_v2.csv', index=False)