In [8]:
import pandas as pd

In [16]:
# reading the dataset and inserting the dummy header
raw = pd.read_csv('Person 3/Drowsy_mear_P3.csv',header=  None,index_col= None)
raw

,0,1,2,3,4,5,6,7,8,9,...,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116
0,0.29,0.31,0.30,0.31,0.27,0.13,0.23,0.28,0.28,0.29,...,0.35,0.34,0.34,0.37,0.36,0.36,0.36,0.36,0.36,0.36
1,0.53,0.53,0.34,0.32,0.35,0.37,0.40,0.44,0.43,0.49,...,0.40,0.40,0.40,0.42,0.42,0.42,0.41,0.41,0.41,0.41

In [17]:
data = []
df = pd.DataFrame(data, columns=['ear', 'mar'])
df.head()

Empty DataFrame
Columns: [ear, mar]
Index: []

In [18]:
df['ear'] = raw.iloc[0,:]

In [19]:
df['mar'] = raw.iloc[1,:]

In [20]:
df.head()

    ear   mar
0  0.29  0.53
1  0.31  0.53
2  0.30  0.34
3  0.31  0.32
4  0.27  0.35

In [21]:
df.tail()

       ear   mar
3112  0.36  0.42
3113  0.36  0.41
3114  0.36  0.41
3115  0.36  0.41
3116  0.36  0.41

In [22]:
df.to_csv('Person 3/drowsy_P3.csv', index=False)