In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Person 3/drowsy_P3.csv')
df.head()

    ear   mar
0  0.29  0.53
1  0.31  0.53
2  0.30  0.34
3  0.31  0.32
4  0.27  0.35

In [3]:
df.iloc[:,1:].values

array([[0.53],
       [0.53],
       [0.34],
       ...,
       [0.41],
       [0.41],
       [0.41]])

In [4]:
import math
ear=df.iloc[:,0:1].values
mar = df.iloc[:,1:].values
len(ear), len(mar)

(3117, 3117)

In [8]:
n = math.ceil(len(ear)/20)
n

156

In [9]:
ear_a = np.array_split(ear, n)
mar_a = np.array_split(mar, n)

In [10]:
ear_c = []
for i in ear_a:
    ear_i = np.amax(i)
    ear_c.append(ear_i)
    
print(ear_c)
len(ear_c)

[0.31, 0.33, 0.33, 0.3, 0.33, 0.29, 0.26, 0.27, 0.28, 0.3, 0.31, 0.28, 0.28, 0.3, 0.31, 0.29, 0.28, 0.29, 0.3, 0.31, 0.43, 0.29, 0.32, 0.29, 0.3, 0.27, 0.31, 0.26, 0.21, 0.31, 0.32, 0.3, 0.28, 0.27, 0.34, 0.35, 0.29, 0.29, 0.29, 0.34, 0.31, 0.29, 0.34, 0.38, 0.38, 0.38, 0.37, 0.23, 0.32, 0.38, 0.42, 0.4, 0.38, 0.35, 0.36, 0.37, 0.35, 0.37, 0.33, 0.36, 0.35, 0.35, 0.31, 0.34, 0.37, 0.35, 0.33, 0.33, 0.33, 0.39, 0.34, 0.33, 0.34, 0.34, 0.36, 0.34, 0.38, 0.38, 0.38, 0.36, 0.37, 0.37, 0.38, 0.38, 0.37, 0.34, 0.33, 0.37, 0.37, 0.34, 0.35, 0.35, 0.35, 0.36, 0.37, 0.34, 0.31, 0.3, 0.24, 0.36, 0.39, 0.39, 0.33, 0.34, 0.36, 0.35, 0.37, 0.35, 0.36, 0.36, 0.34, 0.32, 0.3, 0.37, 0.37, 0.35, 0.36, 0.36, 0.36, 0.39, 0.38, 0.33, 0.24, 0.36, 0.37, 0.35, 0.32, 0.36, 0.36, 0.35, 0.36, 0.37, 0.38, 0.35, 0.37, 0.34, 0.29, 0.32, 0.33, 0.25, 0.24, 0.39, 0.36, 0.34, 0.34, 0.36, 0.35, 0.35, 0.34, 0.36, 0.34, 0.34, 0.4, 0.42, 0.39, 0.37]

156

In [11]:
mar_c = []
for i in mar_a:
    mar_i = np.amin(i)
    mar_c.append(mar_i)
    
print(mar_c)
len(mar_c)

[0.32, 0.41, 0.4, 0.41, 0.42, 0.42, 0.42, 0.41, 0.41, 0.4, 0.38, 0.4, 0.41, 0.33, 0.47, 0.46, 0.36, 0.36, 0.39, 0.38, 0.32, 0.37, 0.38, 0.38, 0.4, 0.41, 0.39, 0.39, 0.37, 0.28, 0.33, 0.39, 0.4, 0.42, 0.35, 0.36, 0.38, 0.39, 0.36, 0.39, 0.37, 0.37, 0.41, 0.3, 0.4, 0.41, 0.39, 0.37, 0.31, 0.41, 0.37, 0.35, 0.33, 0.39, 0.39, 0.39, 0.38, 0.37, 0.39, 0.39, 0.42, 0.43, 0.43, 0.39, 0.37, 0.43, 0.43, 0.41, 0.41, 0.44, 0.44, 0.43, 0.43, 0.41, 0.42, 0.44, 0.34, 0.4, 0.4, 0.38, 0.38, 0.41, 0.7, 0.34, 0.38, 0.44, 0.42, 0.39, 0.41, 0.32, 0.32, 0.39, 0.41, 0.43, 0.42, 0.39, 0.4, 0.39, 0.37, 0.33, 0.4, 0.43, 0.42, 0.4, 0.4, 0.4, 0.41, 0.38, 0.44, 0.38, 0.38, 0.42, 0.41, 0.35, 0.4, 0.44, 0.43, 0.31, 0.44, 0.29, 0.36, 0.4, 0.34, 0.34, 0.38, 0.49, 0.5, 0.36, 0.38, 0.4, 0.39, 0.38, 0.39, 0.38, 0.43, 0.44, 0.46, 0.44, 0.44, 0.43, 0.36, 0.33, 0.37, 0.38, 0.39, 0.4, 0.36, 0.38, 0.34, 0.36, 0.35, 0.32, 0.35, 0.39, 0.33, 0.32]

156

In [12]:
type(mar_c)

list

In [13]:
dc = pd.DataFrame(
    {'ear': ear_c,
     'mar': mar_c,
    })

In [14]:
dc.head()

    ear   mar
0  0.31  0.32
1  0.33  0.41
2  0.33  0.40
3  0.30  0.41
4  0.33  0.42

In [15]:
dc.shape

(156, 2)

In [16]:
dc.to_csv('Person 3/notdrowsy_cleaned_P3_v2.csv', index=False)