In [1]:
import pandas as pd

In [2]:
# reading the dataset and inserting the dummy header
raw = pd.read_csv('Person 2/Drowsy_mear_P2.csv',header=  None,index_col= None)

In [3]:
data = []
df = pd.DataFrame(data, columns=['ear', 'mar'])
df.head()

Empty DataFrame
Columns: [ear, mar]
Index: []

In [4]:
df['ear'] = raw.iloc[0,:]

In [5]:
df['mar'] = raw.iloc[1,:]

In [6]:
df.head()

    ear   mar
0  0.28  0.38
1  0.29  0.41
2  0.29  0.39
3  0.27  0.39
4  0.27  0.38

In [7]:
df.tail()

      ear   mar
599  0.30  0.43
600  0.30  0.43
601  0.29  0.43
602  0.30  0.45
603  0.31  0.44

In [8]:
df.to_csv('Person 2/drowsy_P2.csv', index=False)